body{
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-color: #37474F;
}
.container.padding{
    padding-top: 11vh;
}
.container.scrollable {
	overflow-y: scroll;
}

.container {
    width: 100vw;
    position: absolute;
    display: inline-block;
    margin-right: -100vw;
    display: none;
}
.container.active{
    margin-right: 0;
    display: inline-block;
}

.heroContainer {
	background-image: url(../img/WineHeroImage.jpg);
    height: 40vh;
    background-size: cover;
    box-shadow: inset 0px 100px 100px 0px rgba(0, 0, 0, .5);
}

.heroContainer.hero2 {
	background-image: url(../img/hero2.jpg);
}
.heroContainer.hero1 {
	background-image: url(../img/winecaskbottle.png);
    background-size: contain;
    background-position: 0px 0px;
    background-color: #d33030;
}

.heroContainer .page-header {
	font-size: 28px;
    padding-left: 30px;
    text-shadow: 0px 2px rgba(0, 0, 0, .5);
    color: #fefefe;
    box-sizing: border-box;
}

.navbar {
	width: 70vw;
    height: 100vh;
    float: left;
    margin-left: -70vw;
    background-color: #546E7A;
    box-shadow: 5px 0px 50px 0px rgba(0, 0, 0, .5);
    border-right: 2px solid #37474F;
    position: fixed;
    top: 0px;
    z-index: 2;
/*  Get mobiles to use more CPU so the transitions is smoother*/
    -webkit-transform-z: 0;
    transform-z: 0;
    
    -webkit-transition: margin-left .2s linear;
            transition: margin-left .2s linear;
}

.navbar.active{
     margin-left: 0px;
}

.navbar ul{
    padding: 0px;
    margin: 0px;
}
#menu{
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    width: 100%;
    color: #fefefe;
    padding: 20px;
    box-sizing: border-box;
    background-color: #455A64;
    cursor: pointer;
}
.navbar ul li:hover, .navbar ul li:nth-of-type(odd):hover{
    background-color: #37474F;
}
.navbar ul li:nth-of-type(odd){
    background-color: #546E7A;
}

.menu{
    padding: 20px;
    font-size: 20px;
}

.actions ul{
	padding: 0px;
    margin: 0px;
    color: #fefefe;
}

.actions ul li{
	background-color: #455A64;
    list-style: none;
    font-size: 18px;
    width: 100%;
    padding: 20px 20px;
    height: 20vh;
    box-sizing: border-box;
}
.actions ul li.row-40{
	height: 40vh;
}
.actions ul li.row-30{
	height: 30vh;
}
.actions ul li.row-10{
	height: 10vh;
}
.actions ul li.row-15{
	height: 15vh;
}
.actions ul li.row-50{
	height: 50vh;
}
.actions ul li.row-60{
	height: 60vh;
}
.actions ul li.row-70{
	height: 70vh;
}
.actions ul li.row-80{
	height: 80vh;
}
.actions ul li.row-90{
	height: 90vh;
}

.actions ul li:not(.static):hover, .actions ul li:nth-of-type(odd):not(.static):hover{
    background-color: #37474F;
}
.actions ul li:not(.static):nth-of-type(odd){
    background-color: #546E7A;
}

.actions ul li small{
    display: block;
    font-size: .6em;
    color: #cecece;
}
.action {
    display: inline-block;
}

.navbar-menu{
    background-color: #546E7A;
    height: 70px;
    color: #fefefe;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
}
.menu-text{
    margin-left: 30px;
}

.action-icon{
    display: inline-block;
}


/*Colors*/
.color-white{
    color: #fefefe;
}
.color-gold{
    color: gold;
}

/*Form*/
input[type="text"], textarea{
    padding: 5px 10px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fefefe;
    color: #fefefe;
    width: 85vw;
    outline: none;
}
input[type="file"]{
    display: none;
}
.btn{
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #ECEFF1;
    border-radius: 2px;
    color: #222222;
    font-family: "open sans", sans-serif;
    font-size: 14px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, .2);
    cursor: pointer;
    min-width: 100px;
    text-align: center;
    display: inline-block;
}
.align-center {
	text-align: center;
}
.btn:hover{
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .2);
}

.btn-flat{
    color: #3F51B5;
    font-weight: bold;
    font-family: "open sans", sans-serif;
    font-size: 14px;
    cursor: pointer;
    margin-right: 15px;
    display: inline-block;
    text-transform: uppercase;
}
textarea{
    max-height: 30vh;
    min-height: 30vh;
    width: 85vw;
}

/*About*/

.fs{
    width: 45vw;
}

.agne{
    width: 45vw;
}

/*Wine Cards*/
.wineCard{
    width: 90vw;
    background-color: #fefefe;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, .5);
    overflow: hidden;
    border-radius: 3px;
    box-sizing: border-box;
    margin: 0 auto 20px;
}

.wineCard .header {
    height: 200px;
    width: 100%;
    background-size: cover;
}

.wineCard .content {
	padding: 10px 20px;
    color: #222222;
}

.wineCard .content h3{
    margin: 0px 0px 10px 0px;
}
.wineCard .footer{
    padding: 10px 20px;
} 

.scrollable{
    overflow-y: scroll;
}