body{
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.container {
    width: 100vw;
    position: absolute;
    display: inline-block;
    margin-right: -100vw;
    display: none;
}
.container.active{
    margin-right: 0;
    display: inline-block;
}

.heroContainer {
	background-image: url(../img/WineHeroImage.jpg);
    height: 40vh;
    background-size: cover;
    box-shadow: inset 0px 100px 100px 0px rgba(0, 0, 0, .5);
}

.heroContainer.hero2 {
	background-image: url(../img/hero2.jpg);
}

.heroContainer .page-header {
	font-size: 28px;
    padding-left: 30px;
    text-shadow: 0px 2px rgba(0, 0, 0, .5);
    color: #fefefe;
    box-sizing: border-box;
}

.navbar {
	max-width: 70vw;
    min-width: 300px;
    height: 100vh;
    float: left;
    margin-left: -100vw;
    background-color: #546E7A;
    box-shadow: 5px 0px 50px 0px rgba(0, 0, 0, .5);
    border-right: 2px solid #37474F;
    
/*  Get mobiles to use more CPU so the transitions is smoother*/
    -webkit-transform-z: 0;
    transform-z: 0;
    
    -webkit-transition: margin-left .2s linear;
            transition: margin-left .2s linear;
}

.navbar.active{
     margin-left: 0px;
}

.navbar ul{
    padding: 0px;
    margin: 0px;
}
#menu{
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    width: 100%;
    color: #fefefe;
    padding: 20px;
    box-sizing: border-box;
    background-color: #455A64;
    cursor: pointer;
}
.navbar ul li:hover, .navbar ul li:nth-of-type(odd):hover{
    background-color: #37474F;
}
.navbar ul li:nth-of-type(odd){
    background-color: #546E7A;
}

.menu{
    padding: 20px;
    font-size: 20px;
}

.actions ul{
	padding: 0px;
    margin: 0px;
    color: #fefefe;
}

.actions ul li{
	background-color: #455A64;
    list-style: none;
    font-size: 18px;
    width: 100%;
    padding: 7vh 0px 7px 20px;
    height: 20vh;
    box-sizing: border-box;
}
.actions ul li.row-40{
	height: 40vh;
}
.actions ul li.row-30{
	height: 30vh;
}
.actions ul li.row-10{
	height: 10vh;
}
.actions ul li.row-50{
	height: 20vh;
}
.actions ul li.row-60{
	height: 60vh;
}

.actions ul li:hover, .actions ul li:nth-of-type(odd):hover{
    background-color: #37474F;
}
.actions ul li:nth-of-type(odd){
    background-color: #546E7A;
}

.actions ul li small{
    display: block;
    font-size: .6em;
    color: #cecece;
}
.action {
    display: inline-block;
}
.action-icon {
    padding: 10px 10px;
    display: inline-block;
}


/*Colors*/
.color-white{
    color: #fefefe;
}
.color-gold{
    color: gold;
}

/*Form*/
input[type="text"]{
    padding: 5px 10px;
    width: 60vw;
    font-size: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fefefe;
    color: #fefefe;
    outline: none;
}

/*About*/

.fs{
    width: 45vw;
}

.agne{
    width: 45vw;
}